<!DOCTYPE html>
<html>
  <head>
    <title>Convert PNG to ISO</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">


  </head>
  <body>
    <div align="center">
    <header>
      <h1>
        PNG TO ICO <img src="http://png2ico.altervista.org/img/1522074876.61-1641723.png" alt="" width="50" height="50" >
      </h1>
    </header>

    <main>

      <p>Free Online PNG TO ICO converter</p>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="icon">
        <button type="submit">Submit</button>
      </form>
    </main>
<br>
<br>
<div align="center">
 <label><p>
<code>Png2Ico is a free online software allow you to convert all .png image into .ico files </code><br>
<br>
<code>it is very simple to use, just upload the file using the select button and send it using the send button.</code>

</label></p>
</div>

<a href="https://github.com/anonik9900/PNG2ICO">GitHub Projects</a>   |   <a href="https://png2ico.glitch.me/">Online Version</a>

<br>
<br>
<div id="footer">
  <cite>Copyright &copy; 2018 <a href="https://github.com/anonik9900">Anonik</a> All Right Reserved </cite>

</div>

<br>

<cite><h5>
<a href="https://github.com/anonik9900">GithHub</a> |  <a href="https://facebook.com/nicholas.impieri">Facebook</a> | <a href="https://www.instagram.com/i.m_nico/">Instagram</a> | <a href="https://twitter.com/Anonik99">Twitter</a> | <a href="mailto:impieri.nicholas@gmail.com">Email</a> | <a href="http://steamcommunity.com/id/anonik99/">Steam</a>
</h5></cite>
<div align="center">
  <img src="https://www.w3schools.com/images/w3cert.gif">
</div>

  </script>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
